.background {
  display: none;
}

@media screen and (min-width: 1023px) {
  .background {
    display: block;
  }

  .circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 99vh;
    height: 99vh;
    border: 2px solid #292b33;
    border-radius: 50%;
  }

  .circle__little {
    position: absolute;
    top: 48.5vh;
    left: 48.5vh;
    width: 16px;
    height: 16px;
    background-color: #191a1e;
    border: 2px solid #292b33;
    border-radius: 50%;
  }

  .circle__little:first-child {
    animation: 50s linear infinite running circleAround;
  }

  .circle__little:nth-child(2) {
    animation: 70s linear infinite running circleAround;
  }

  .circle__little:nth-child(3) {
    animation: 90s linear infinite running circleAround;
  }

  @keyframes circleAround {
    0% {
      transform: rotate(0deg) translate(-49.5vh) rotate(0deg);
    }

    100% {
      transform: rotate(1turn) translate(-49.5vh) rotate(-1turn);
    }
  }
}
